---
---

@import "minima/skins/dark";
@import "minima";

.post-content img {
  display: block;
  max-height: 400px;
  width: auto;
  margin: 0 auto;
}

.post-content p img {
  display: block;
  margin: 0 auto;
}
